.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-wrapper ul {
  font-family: "Baloo Bhaijaan", cursive;
}
.nav-wrapper ul li a {
  padding: 1rem;
}
