.user-message {
  text-align: center;
  font-family: "Baloo Bhaijaan", cursive;
  font-size: 2rem;
  margin-top: 30px;
}

.title {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  /* border: 1px solid red; */
  margin: 20px auto;
}

.subtitle {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.row .btn {
  font-family: "Roboto", sans-serif;
  margin: 0 20px;
}

.row-buttons {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
}

.row-buttons button {
  width: 400px;
}
